<div class="bubble-container {{ include.side }}">
  <div class="talk-bubble {{ include.side }} tri-right {{ include.side }}-in border round">
    <div class="talktext">
      {%- if include.index %}
        <a href="/session/q-{{ include.index }}" class="index">
          {{ include.index }}
        </a>
      {%- endif %}
      {% assign words = include.text | replace: '\', '<br/>' | split: " " %}
      {%- for word in words %}
        {%- include word.html word=word slug=include.slug %}
      {% endfor -%}
    </div>
  </div>
</div>
