@forward 'default' with ( $grid-body-height: 300px );

.talktext {
  a {
    vertical-align: 0.3em;
    font-size: 0.7em;
    margin-left: -0.3em;
  }
  .index {
    background-color: transparent !important;
  }
}

h6 {
  font-family: var(--font-special) !important;
}

section {
  blockquote {
    margin-bottom: 0.5em;
  }
}

.course-popup {
  .body {
    overflow-y: auto !important;
  }
}

article.hidden {
  display: none;
}
